

.body{
    animation: start 0.8s  ease-in-out;
    padding: 0;
    margin: 0;
    background: linear-gradient(0deg, #212122 30%, #070708 70%);
    font-family: 'roboto',sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
}
.logo{
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
.logo p{
    margin: 0;
    padding: 0;
}
.logo img{
    width: 100px;
    height: auto;
}
.container{
    gap: 5px;
    margin-top: 40px;
    display: flex;
    padding: 35px 25px 35px 25px;
    flex-direction: column;
    align-items: center;
    border: 1px solid ;
    border-radius: 25px;
    border-color:#1f8e85; 
    color: #1eb5a8;
    width: 50%;
    text-align: center;
    backdrop-filter: blur(5px);
   margin-bottom: 4rem;
    

}
.or{
    width: 100%;
    display: flex;
}
.or div{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.or .ligne
{width: 100%;
height: 1px;
background-color:#1eb5a8 ;}

.or p{
    margin: 20px;
}

.container .conx{
    border: 1px solid #4faca4c6;
    height: 2.3rem;
    width: 60%;
    border-radius: 30px;
    padding:0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color:  #dbf3f1c6;
    transition: 0.3s;
}
form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
form input{
    background-color: transparent;
    border-color: transparent;
    outline: none;
    height: 2rem;
    color: white;
    border-bottom:1px solid  #1f8e85;
}
form select{
    margin-top: 10px;
    height: 2rem;
    background-color:#0d4843;
    border-color: transparent;
    color: #56c5bc;
    border-radius: 8px;
}
.btn{
    border: 1px solid #4faca4c6;
    height: 3rem;
    width: 15rem;
    border-radius: 30px;
    padding:0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color:  #dbf3f1c6;
    transition: 0.3s;
}
.check{
    display: flex;
    align-items: center;
    justify-content: center;

    
}
button:hover,.conx:hover{
    background-color:#318c84 ;
    color: white;
}
