<div class="mainpage">
    <app-nav1></app-nav1>
    <section class="main">
    <div class="titles">
    <h1>Decouvrir comment le travail
        devrait fonctionner</h1>
        <h4>
            Oubliez les anciennes règles. Vous pouvez avoir les meilleures personnes.
Tout de suite. Ici.
        </h4>
        <div class="start"><button class="startbtn" routerLink="/inscription">Commencer</button></div>
        
    </div>
    
    <img class="hero" src="../../assets/icons/sdz.png" alt=""></section>
    <section class="information">
        <img src="44 (1).png" alt="">
        <div class="info">
            <h1>Améliorez votre jeu de travail, c'est gratuit.</h1>
            <ul>
                <li><h4> Aucun frais d'adhésion.</h4><p>Inscrivez-vous et parcourez les professionnels, explorez des projets ou même réservez une consultation.</p></li>
                <li><h4>Publiez une offre d'emploi et embauchez les meilleurs talents.</h4><p>Trouver des talents ne doit pas être une corvée. Publiez une offre d'emploi ou nous pouvons vous rechercher !</p></li>
                <li><h4>Travaillez avec les meilleurs sans vous ruiner.></h4><p>Freelanci rend votre travail abordable et profite de faibles taux de transaction.

                </p></li>
                
            </ul>
            <div style="margin-left: 75px;"  class="start"><button class="startbtn" routerLink="/inscription">Commencer</button></div>
        </div>
    </section>
    <section class="search">
        <h1>Parcourir les talents par catégorie</h1>
        <div class="row">
            <div class="category"><h4>Development & IT</h4><p>1853 freelances</p></div>
            <div class="category"><h4>Design & creative </h4><p>900 freelances</p></div>
            <div class="category"><h4>Sales & Marketing</h4>1200 freelances<p></p></div>
            <div class="category"><h4>Writing and Translation</h4><p>500 freelances</p></div>
        </div>
        <div class="row">
            <div class="category"><h4>Admin & customer Support</h4><p>700 freelances</p></div>
            <div class="category"><h4>finance & Accounting</h4><p>200 freelances</p></div>
            <div class="category"><h4>Engineering & Architecture</h4><p>600 freelances</p></div>
            <div class="category"><h4>Legal</h4><p>100 freelances</p></div>
        </div>
    

    <footer>
        <div class="logo">
            <img class="logoimg" src="../../../assets/icons/logo.png" alt="">
            <p class="name">Freelanci</p>
         </div>
    </footer>
</section>
 


</div>
