<div class="ele">
    <div class="user">
        <img src="../../assets/icons/user (2).png" alt="">
        <p>{{name}}</p>
        <p>Graphiste 2D-3D</p>
        <h4>84 point disponibles</h4>
      </div>
  </div>
  <div class="ele">
 <h1>Mes catégories</h1>
  <p>Modelisation 3D</p>
  <p>Services de traduction et de localisation</p>
  <p>photographie</p>
  <p>montage vidéo et animation</p>
  <p>arts & illustrations</p>
  <p>arts performant</p>
  <p>NFT,AR/VR et art du jeu</p>
  <p>Conception graphique, editoriale et de présentation</p>

</div>
<div class="ele">
    <h1>proposition envoyées</h1>
   
    Mes proposition <br>
    8 propositions soumises
</div>
