<nav class="main-nav">
     <div class="logo">
        <img class="logoimg" src="../../../assets/icons/logo.png" alt="">
        <p class="name">Freelanci</p>
     </div>
     <div class="nav-elements">
        <ul class="liste">
            <li><a href="#talents">Trouver un talent</a></li>
            <li>Chercher un travail</li>
            <li>Pourquoi Freelanci</li>
            <li>a propos</li>
        </ul>
     </div>
     <div class="connexion">
        <button class="btn1" routerLink="/connexion">Se connecter</button>
      <button class="btn2" routerLink="/inscription"> s'inscrire</button>
     </div>
     
     </nav>
