*{
    scroll-behavior: smooth;
}
.main-nav{
    color: white;
    padding-right: 5rem;
    display: flex;
    align-items: center;
}
button:hover{
    background-color: #59827e ;
    color: black;
}
.separate{
    width: 70px;
    height: 2px;
    background-color: aliceblue;
}
.nav-elements{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.liste{
    display: flex;
    
}
.logo{
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name{
    color: white;
    padding: 0;
    margin: 0;
}
li{
    
    margin-left: 35px;
    list-style: none;
    transition: 0.4s ease-out;
}
li:hover{
    color: #054741;
 
}

.btn2{
    margin-left: 35px;
}

.logoimg{
    
    width: 70px;
    height: auto;
}
.connexion{
    padding-left: 80px;
    display: flex;
    justify-content: space-evenly;

}
a{
    text-decoration: none;
    color:  #dbf3f1c6;
}
.connexion button{
    border: 1px solid #4faca4c6;
    height: 3rem;
    width: 10rem;
    border-radius: 30px;
    padding:0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color:  #dbf3f1c6;
    transition: 0.3s;
}
.connexion button:hover{
  
        background-color: #59827e ;
        color: black;
    
}