<nav class="main-nav">
    <a routerLink=""> <div class="logo">
        <img class="logoimg" src="../../../assets/icons/logo.png" alt="">
        <p class="name">Freelanci</p>
     </div></a>
     <div class="nav-elements">
        <ul class="liste">
            <li>offres</li>
            <li routerLink="/reports">Reports</li>
            <li routerLink="/messages">Messages</li>
            
        </ul>

     </div>
     <div class="connexion">
        <div class="search">
         <span>search </span><input type="text" placeholder="recherecher un talent">
        </div>
        <a routerLink="/connexion"><button class="btn2">Deconnexion</button></a>
     </div>
     
     </nav>
